html,
body {
  font-size: 100%;
  font-family: "Open Sans", sans-serif;
  background: #b0afb1;
}
p {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oleo Script", cursive;
  font-weight: 100;
  margin: 0;
}
h3,
h4,
h5,
h6 {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  margin: 0;
}
body a:hover {
  text-decoration: none;
}
body a {
  text-decoration: none !important;
}

/*-- banner --*/

.banner {
  background: url("../images/bg.jpg") no-repeat 0px 0px;
  background-size: cover;
  background-position: center;
  height: 750px;
  position: relative;
  margin-bottom: 10.6em;
}
.banner-figures .name {
  margin-top: 30px;
  margin-left: 0;
}
.name h2 {
  text-align: center;
  font-size: 45px;
  letter-spacing: 4px;
  color: #fff;
}
.name p {
  text-align: center;
  font-size: 14px;
  margin: 10px 0 15px;
  letter-spacing: 11px;
  color: #ccc;
}
.banner-drop{
	margin-left: 0;
	width: 950px;
}
.banner-btm-grid-w3ls {
  position: absolute;
  width: 50%;
  top: 8em;
  margin-left: 1.5em;
}
.banner-left-wthree {
  float: left;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 20px;
  padding: 30px 50px;
}
.banner-left-wthree img {
  margin: 0 auto;
  width: 28%;
  border: 2px solid #00bdbd;
  border-radius: 10px;
  padding: 6px;
}
ul.address {
  margin-top: 2em;
  border-top: 1px solid #ec1944;
  padding-top: 0.5em;
}
ul.address li {
  display: block;
  font-family: "Oleo Script", cursive;
}
ul.address li ul.address-text li {
  display: inline-block;
  font-size: 1.2em;
  color: #fff;
  margin-top: 0.8em;
  font-weight: 400;
}
ul.address li ul.address-text li:nth-child(1) {
  width: 20%;
}
ul.address li ul.address-text li a {
  color: #fff;
  text-decoration: none;
}
ul.address li ul.address-text li a:hover {
  color: #00bdbd;
}
ul.address-text b {
  color: #fff;
  font-family: "Oswald", sans-serif;
  letter-spacing: 1px;
}
.biseller-column{
  width: 570px;
  height: 311.27px;
  overflow: hidden;
}
/*--projects--*/
.projects {
  background: #f5f5f5;
  margin-top: 260px;
  background: #b0afb1;
}
.projects .title-w3ls {
  margin-top: 30px;
  font-family: "Oleo Script", cursive;
  font-weight: bold;
  font-size: 2em;
}

.news {
  padding: 5em 0px;
}
.news-top {
  text-align: center;
}
.news-bottom {
  margin-top: 4%;
}
.news-left {
  padding: 0;
}
.news-left img {
  width: 100%;
}
.news-left a:hover>img {

transform: scale(1.02);
}
.news-right {
  padding: 3.68em 2em 3.5em 2em;
  border: 1px solid rgb(230, 229, 229);
  text-align: left;
  background: #fff;
}
.news-right h4 {
  margin: 0;
}
.news-right a h4 {
  font-size: 1.4em;
  margin: 0;
  color: #00bdbd;
  margin-bottom: 1em;

  letter-spacing: 1px;
  transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
}
.news-right p {
  line-height: 37px;
}
.news-right a h4:hover {
  color: #ec1944;
  transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
}
.news-right h5 {
  color: #b0afb1;
  margin: 12px 0px;
  font-size: 1.5em;
  letter-spacing: 2px;
}
.news-one-wthree-agile {
  margin-top: 2.5%;
}
.news-one-wthree-agile:nth-child(1) {
  margin-top: 0%;
}
a.lightbox img {
  width: 100%;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

/* Styles the lightbox, removes it from sight and adds the fade-in transition */

.lightbox-target {
  position: fixed;
  top: -100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
  overflow: hidden;
  z-index: 999;
}

/* Styles the lightbox image, centers it vertically and horizontally, adds the zoom-in transition and makes it responsive using a combination of margin and absolute positioning */

.lightbox-target img {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-height: 0%;
  max-width: 0%;
  border: 3px solid white;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}
p.pop {
  background-color: #fff;
  width: 35%;
  position: absolute;
  top: 65%;
  left: 32.5%;
  padding: 2em 2em;
  font-size: 0.9em;
  line-height: 1.9em;
}

/* Styles the close link, adds the slide down transition */

a.lightbox img:hover {
  background: #21a957;
}
